* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f0f2f5;
  margin: 1rem;
}

.fila {
  /* Contenedor para cada fila */
  display: flex;
  justify-content: space-between;
  gap: 0.9rem;
  margin-bottom: 1rem;
  width: 100%;
}

.grupo {
  /* contenedor para cada grupo de elementos dentro de cada fila */
  display: flex;
  gap: 0.5rem;
}

.grupo.derecha {
  justify-content: flex-end;
}

.item {
  /* elemento dentro de cada grupo - "card" */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;
  color: #444;
  background: #fff;
  border-radius: 1rem;
  transition: all 0.2s ease;
  border: 1px solid #aaa;
  flex: 0 0 7.5rem;
  height: 5rem; /* antes: 90px */
}

.item:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-color: #d1d1d1;
}

.item img {
  height: 3rem; /* 48px */
  object-fit: contain;
}

.item-container {
  /* contenedor para cada item, para darle un fondo y un tamaño fijo. Incluye una imagen y eventualmente texto */
  width: 100%; /* Ocupa todo el ancho de la card */
  height: 3.25rem; /* antes: 60px - Altura máxima permitida para el icono */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.item-container img {
  max-width: 100%; /* Limita el ancho máximo de la imagen */
  max-height: 100%;
  object-fit: contain;
  /* 'contain' obliga a la imagen a ser lo más grande posible 
       sin salirse de los límites y sin deformarse */
}

.texto-item {
  font-size: 0.8rem;
  color: #555;
  text-align: center;
  margin-top: -1rem;
}

.borde-img {
  /* x, y, desenfoque, color */
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.3));
}
